/* * {
    border: solid black 1px;
} */

body {
    text-align: center;
    background-color: bisque;
}
#book-card {
    border: solid black 1px;
    height: 200px;
    width: 200px;
    text-align: center;
}

#library {
    height: 500px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#show-dialog {
    height: 50px;
    width: 100px;
    margin: 10px;
}
